{% extends "blog/baseforlogin.html" %}

{% block content %}
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="mo-margin mo-round mo-card mo-white" style="text-align:center;">
          <h2 style="margin-top:0px;margin-bottom:10px;">로그인</h2>
          <form method="post" class="form-inline" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="id_username">username</label>
              <input type="text" class="form-control" placeholder="아이디 입력" name="username" autofocus maxlength="254" required id="id_username" />
            </div>
            <div class="form-group">
              <label class="sr-only" for="id_password">password</label>
              <input type="password" class="form-control" placeholder="비밀번호 입력" name="password" required id="id_password" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">로그인</button>
            </div>
          </form>
          <div>
            <p style="margin-top:20px;">비회원 계정 : guest<br> 비밀번호 : a12345678</p>
          </div>
          {% if form.errors %}
              <p style="margin-top:20px;">아이디가 존재하지 않거나 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
          {% endif %}
        </div>
      </div>
{% endblock %}
