{% extends 'blog/base.html' %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="mo-margin mo-round mo-card mo-white">
    <!-- 글 올린 회원의 사진, 이름 -->
    <p class="newsfeed_profiles">
      <img src="https://www.w3schools.com/w3images/avatar3.png" alt="" class="img-circle peopleImg">{{post.author}}
    </p>
    <!-- 글 내용 -->
    <div class="newsfeed_contents">
      <p style="margin-bottom:10px;">
        <strong>{{post.title}}</strong>
      <br>
        {{ post.text|linebreaksbr }}<br>
        {% if post.published_date %}
        <span class="published_date" style="margin:0px;">게시된 날짜 : {{post.published_date}}</span>
        {% endif %}
      </p>
      <!-- 댓글 달기 -->
      <div class="detail_table">
        <form class="form" action="" method="post">{% csrf_token %}
          <table class="table table-striped" id="Rtable">
            {% for comment in post.comments.all %}
            <tr>
              <td style="width:15%;min-width:110px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ comment.author }}</td>
              <td>
                {{ comment.text }}
                <a href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove-circle" style="float:right;"></span></a>
              </td>
            </tr>
            {% endfor %}
            <!-- <tr style="background-color:white;">
              <td style="width:80%;">
                <input type="text" name="text" class="form-control" placeholder="댓글을 입력하세요" style="" required id="id_text">
              </td>
              <td>
                <button type="submit" class="btn btn-primary" style="">게시</button>
              </td>
            </tr> -->
          </table>
        </form>
      </div>
      <div style="text-align:right;">
        <form class="form" action="" method="post">{% csrf_token %}
          <div class="form-group" style="text-align:left;">
            <input type="text" name="text" class="form-control" placeholder="댓글을 입력하세요" style="" required id="id_text">
          </div>
          <div class="lower">
              <div class="buttons_margin" style="">
              {% if request.user == post.author %}
              <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              {% endif %}
              <button type="submit" class="btn btn-primary" style="">게시</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
