{% extends 'blog/base.html' %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="mo-margin mo-round mo-card mo-white">
    <!-- 글 내용 -->
    <div class="mo-center" style="margin-bottom:20px;">
      <h2>게시글 수정</h2>
    </div>
    <div class="newsfeed_contents">
      <form name="editForm" id="upload" method="POST">{% csrf_token %}
        <p>
          <input type="text" name="title" class="form-control" placeholder="제목" value="{{ post.title }}" required id="id_title">
          <textarea name="text" class="form-control" rows="4" placeholder="회원님의 소식을 팔로워들에게 전하세요!" style="margin-bottom:8px;" required id="id_text">{{ post.text }}
          </textarea>
        </p>
        <script>
        function fn_remove() {
          if(confirm("정말 삭제하시겠습니까?")) {
            location.href="{% url 'post_remove' pk=post.pk %}"
          } else {

          }
        }
        </script>

        <div style="text-align:right;">
          <button type="submit" class="btn btn-primary" style="">수정</button>
          <button type="button" class="btn btn-primary" onclick="fn_remove()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
